/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import "@danielwang/aemo-design-tokens/dist/_tokens.css"; 

@font-face {font-family: 'AvenirLT-Roman';src: url('../fonts/AvenirLTStd-Roman.otf');}
@font-face {font-family: 'AvenirLT-Black';src: url('../fonts/AvenirLTStd-Black.otf');}
@font-face {font-family: 'AvenirLT-Book';src: url('../fonts/AvenirLTStd-Book.otf');} 
@font-face {font-family: 'AvenirLT-Medium';src: url('../fonts/AvenirLTStd-Medium.otf');} 
@font-face {font-family: 'AvenirLT-Heavy';src: url('../fonts/AvenirLTStd-Heavy.otf');} 
@font-face {font-family: 'AvenirLT-Light';src: url('../fonts/AvenirLTStd-Light.otf');} 


:root {
  --ifm-color-primary: var(--gel-color-primary-purple-500);
  --ifm-color-primary-dark: var(--gel-color-primary-purple-600);
  --ifm-color-primary-darker: var(--gel-color-primary-purple-600);
  --ifm-color-primary-darkest: var(--gel-color-primary-purple-700);
  --ifm-color-primary-light: var(--gel-color-primary-purple-400);
  --ifm-color-primary-lighter: var(--gel-color-primary-purple-300);
  --ifm-color-primary-lightest: var(--gel-color-primary-purple-200);
  --ifm-code-font-size: 0.875rem;
  --ifm-code-background: transparent;
  --ifm-blockquote-font-size: 1.5rem;
  --ifm-link-color: var(--gel-color-tertiary-link);
  --ifm-menu-color: var(--gel-color-tertiary-slate-700);
}

html[data-theme='dark'] {
  --ifm-color-primary: #923d96;
}

body{
  font-family: var(--gel-font-family-roman);
  font-weight: var(--gel-font-weight-normal);
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5{
  font-family: var(--gel-font-family-black);
  font-weight: var(--gel-font-weight-normal);
}

blockquote{
  --gel-font-family-light: "AvenirLT-Light";
  font-family: var(--gel-font-family-light);
  font-weight: var(--gel-font-family-weight);
}

code{
  color: #F64480;
  border: 0;
}

.hero--primary{
  --ifm-hero-background-color: #3C1053;
}

.menu__link--sublist{
  font-family: var(--gel-font-family-heavy);
}
.menu__link{
  font-size: 1rem;
}

.main-wrapper{
  padding-top: 2rem;
}

.hero__subtitle{
  --gel-font-family-light: "AvenirLT-Light";
  font-family: var(--gel-font-family-light);
  font-weight: var(--gel-font-family-weight);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
