@import "@danielwang/aemo-design-tokens/dist/_tokens.scss"; 

.opacityDemo{
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(#F64480 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #F64480 0.7000000000000001px, #ffffff 0.7000000000000001px);
    background-size: 14px 14px;
}

.zindexDemo{
    display: flex;

    div{
        margin-right: -2.5rem;
    }
}

.motionDemo{
    width: 100px;
    padding:.125rem .5rem;
    color: white;     
    background: $gel-color-primary-purple-500;
    text-align: right;
    margin-bottom: .5rem;
    &:hover{
        width: 50%;
    }
}

    
.fast{
    transition: width linear $gel-duration-fast;   
}

.medium{
    transition: width linear $gel-duration-medium;   
}

.slow{
    transition: width linear $gel-duration-slow;   
}

.easeIn{
    transition: width $gel-motion-ease-in $gel-duration-slow;
    &:hover{
        width: 100%;
    }
}

.easeOut{
    transition: width $gel-motion-ease-out $gel-duration-slow;
    &:hover{
        width: 100%;
    }
}